body{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 700px;
}
a{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
p{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}